@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "Ubuntu", sans-serif;
    --color-white: hsl(0, 0%, 100%);
    --color-pastel-blue: hsl(206, 94%, 87%);
    --color-marine-blue: hsl(213, 96%, 18%);
  }
}

ol.counter__list {
  list-style: none;
  counter-reset: item;
}
li.counter {
  counter-increment: item;
}
li.counter:before {
  content: counter(item);
  background: transparent;
  color: white;
  border: 1px solid var(--color-white);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

li.counter.active:before {
  background-color: var(--color-pastel-blue);
  border: 1px solid var(--color-pastel-blue);
  color: var(--color-marine-blue);
}

.toggle__switch {
  position: relative;
  display: inline-block;
  width: 37px;
  height: 19px;
}

.toggle__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-marine-blue);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 23px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3 var(--color-marine-blue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(-18px);
  -ms-transform: translateX(-18px);
  transform: translateX(-18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
